.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f4f4f4;
}

.auth-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  text-align: center;
  position: relative;
}

.auth-form input {
  margin-bottom: 10px;
}

h1 {
  color: #ff6f61;
  margin-bottom: 1rem;
  font-size: 2rem;
}
