.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  text-align: center;
  position: relative;
}

.auth-form input {
  margin-bottom: 10px;
}

h1 {
  color: #ff6f61;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.sub-info-text {
  font-size: 14px;
  color: #ff6f61;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
  transition: color 0.3s ease;
}
.sub-info-text:hover {
  color: #af5959;
}