/***** reset *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;font-size:100%;vertical-align:baseline;border:0;box-sizing:border-box;-webkit-text-size-adjust:none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
fieldset,img{vertical-align:top;border:0}
img{max-width:100%}
hr,legend,caption{width:0;height:0;font-size:0;line-height:0;opacity:0}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
input,select,textarea,button,label{font-family:inherit;vertical-align:middle}
input,select,textarea{border:1px solid #bbb;border-radius:3px;box-shadow:none;box-sizing:border-box}
::placeholder{color:#aaa;opacity:1}
:-ms-input-placeholder{color:#aaa;vertical-align:top}
::-ms-input-placeholder{color:#aaa}
::-moz-focus-inner{padding:0;border:0}
input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{height:auto;-webkit-appearance:none}
input::-webkit-search-cancel-button,input::-webkit-search-decoration{-webkit-appearance:none}
input:-ms-clear{display:none}
input::-ms-clear{display:none}
input[readonly],input[disabled],textarea[readonly],textarea[disabled]{background-color:#d0d3d7;cursor:default}
input{overflow:hidden;width:405px;max-width:100%;height:36px;padding:0 10px;line-height:34px;text-overflow:ellipsis;white-space:nowrap;appearance:none;-webkit-appearance:none;-moz-appearance:none}
input[type=number]{-moz-appearance:textfield}
input[type=radio],input[type=checkbox]{overflow:hidden;position:absolute;width:1px !important;height:1px !important;margin:-1px;padding:0;clip:rect(0,0,0,0)}
select:required:invalid{color:#aaa}
select::-ms-expand{display:none}
option{color:#333}
option[disabled]{display:none}
textarea{width:100%;height:80px;padding:10px;resize:none;appearance:none;-webkit-appearance:none;-moz-appearance:none}
button,input[type=submit]{padding:0;border:0;border-radius:0;background-color:transparent;cursor:pointer}
button[disabled]{cursor:default}
address,em,i{font-style:normal}
a{color:#333;text-decoration:none}
body{color:#333;font-size:14px;font-family:'Roboto','Noto Sans KR',Malgun Gothic,'맑은고딕',Dotum,'굴림',Gulim,Helvetica,sans-serif;letter-spacing:-0.5px}
